* {
	padding: 0;
	margin: 0;
}

body {
	font-family: arial;
	font-size: 15px;
	text-align:center;
	display: flex;
	justify-content: center;
	align-items: center;
	background: black;
}
canvas {
	width: 0;
	height: 0;
	background: white;
}

#game {
	position: relative;
}


/* CSS Document */

#chat {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0 10px 10px;
    background: #DEB887;
    box-sizing: border-box;
}
#chatbox {
	font-size: 11px;
    text-align:left;
    margin-bottom:25px;
    padding: 2px 5px;
    background:#fff;
    overflow:auto;
}
  
#usermsg {
	width: 100%;
    border: none;
    outline: none;
	box-sizing: border-box;
}

#menu {

}
  
.welcome {
	text-align: center;
}

#submitmsg, .welcome {
	margin: 5px 0;
}


/*
.clear-fix:after {
	content: " ";
	display: block;
	clear: both;
}*/